{% extends "base.html" %}

{% block content %}
<table class="table">
        <thead>
            <th>NR. DOMUMENTU</th>
            <th>Suma Brutto</th>
            <th>Suma Netto</th>
            <th>Data dokumentu</th>
        </thead>
 {% for k in data  %}
            <tr>
                <td>{{k.NrDokumentu}}</td>
                <td>{{k.sumaBrutto}}</td>
                <td>{{k.sumaNetto}}</td>
                <td>{{k.data}}</td>

            </tr>
            {% endfor %}
        </table>
<a href="{% url 'u_dokumentu' %}">Dodaj nowy dokument</a>
{% endblock content %}