{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazyn</title>
    <link rel="stylesheet" href="{% static 'glowna.css' %}">
</head>
<body>
    <div class="pasek">
       <div class="opcja">
           <p>04.11.2022 16:53</p>
       </div>
       <div class="opcja">
           <p>Towar</p>
       </div>
       <div class="opcja">
           <p>Raport</p>
       </div>
       <div class="opcja">
           <p></p>
       </div>
       <div class="logownie">
           <button type="button">
               <a href="{% url 'logowanie' %}">Logowanie</a>
           </button>
       </div>
    </div>
    <div class="lewy">
        
    </div>
    <div class="gowny">
        
    </div>
</body>
</html>