{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazyn</title>
    <link rel="stylesheet" href="{% static 'glowna.css' %}">

    <script type="text/javascript">
                    //funkcja tworząca zegar
                   function zegar(){
                       //pobieranie czasu
                       var data = new Date();
                       var dzien = data.getDate();
                       var miesiac = data.getMonth()+1;
                       var rok = data.getFullYear();
                       var godzina = data.getHours();
                       var minuta = data.getMinutes();
                       var sekunda = data.getSeconds();

                       //formatowanie czasu
                       if (godzina < 10) {
                            godzina = "0" + godzina;
                        }
                       if (minuta < 10) {
                           minuta = "0" + minuta;
                       }
                       if (sekunda < 10) {
                           sekunda = "0" + sekunda;
                       }

                       //wstawianie zegara w diva z id zegar
                       document.getElementById("zegar").innerHTML = dzien+"."+miesiac+"."+rok+" "+godzina+":"+minuta+":"+sekunda;
                        //opóżnienie funkcji
                       setTimeout(zegar,1000);
                   }
                   //załadowanie zegara po wczytaniu strony
                   window.addEventListener("load", zegar);
               </script>
</head>
<body>
      <div class="pasek">
       <div class="g_opcja">
           <p>
                <div id="zegar">
                </div>

           </p>
       </div>

       <div class="logowanie">
               <p><a href="{% url 'wylogowanie' %}">Wyloguj</a></p>
       </div>
          <div class = "HelloUser">
              <p><span> Użytkownik : {{ request.user }} </span></p>
          </div>
    </div>
    <div class="lewy">
             <ul class="menu">
                <li class="opcje">
                    <a>Towar</a>
                        <ol class="submenu">
                            <li>
                                <a href="{% url 'odbior' %}">Odbiór</a>
                            </li>
                            <li>
                                <a href="{% url 'wydanie' %}">Wydanie</a>
                            </li>
                            <li>
                                <a href="{% url 'przerzucenie' %}">Przerzucenie</a>
                            </li>
                        </ol>
                </li>
                <li class="opcje">
                    <a>Magazyn</a>
                    <ol class="submenu">
                            <li>
                                <a href="{% url 'u_magazynu' %}">Utworzenie magazynu</a>
                            </li>
                            <li>
                                <a href="{% url 'w_magazynu' %}">Wydruk stanu magazynu</a>
                            </li>
                            <li>
                                <a href="{% url 'wyszukanie' %}">Wyrzukanie towaru</a>
                            </li>
                    </ol>
                </li>
                <li class="opcje">
                    <a>Baza</a>
                    <ol class="submenu">
                            <li>
                                <a href="{% url 'b_towarow' %}">Baza towartów</a>
                            </li>
                            <li>
                                <a href="{% url 'b_dostawcow' %}">Baza dostawców</a>
                            </li>
                            <li>
                                <a href="{% url 'b_pracownikow' %}">Baza pracowników</a>
                            </li>
                    </ol>
                </li>
            </ul>
    </div>
    <div class="gowny">
        
    </div>
</body>
</html>