<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazyn</title>
    <link rel="stylesheet" href="glowna.css">
    <link rel="stylesheet" href="logowanie.css">
</head>
<body>
    <div class="pasek">
       <div class="opcja">
           <p>04.11.2022 16:53</p>
       </div>
       <div class="logownie">
           <a href="logowanie.html"><p>Logowanie</p></a>
       </div>
    </div>
    <div class="gowny" style="width: 100%">
        <div id="okno">
            <form action="" method="post" >
                <p>Login:</p>
                <input>
                <p>Hasło:</p>
                <input>
                <br>
                <button>Zaloguj się</button>
            </form>
        </div>
    </div>
</body>
</html>