django

Wymagania :
Tworzenie / usuwanie przestrzeni magazynowej (półek, szafek, regałów)
Tworzenie / usuwanie przedmiotów magazyowanych (towarów)
Dodawanie / wyciąganie przedmiotów z magazyów oraz przenoszenie ich pomiędzy magazynami
Dodawanie oraz usuwanie użytkowników oraz możliwy podział na role (admin - magazynier itd.)
Wyszukiwanie części w magazynie oraz podgląd stanu na żywo.

Możliwy późniejszy rozwój o
Wydruk przyjęć / wydań oraz stanu magazynu
Baza firm dostarczających towar i pracowników odbierających towar